{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://em-content.zobj.net/source/microsoft/379/desktop-computer_1f5a5-fe0f.png" rel="icon">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <title>System Showcase</title>
    </head>
    <body>
      <header>
        <div class="header-logo-container">
          <a href="/">
            <img src="{% static 'images/System-Showcase.png' %}" alt="The System Showcase Logo" />
          </a>
        </div>
        <nav>
          <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'community' %}">Community</a></li>
            <li><a href="{% url 'computer-create' %}">Add a computer</a></li>
            <li>
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
            </li>
            {% else %}
            <li><a href="{% url 'community' %}">Community</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
      <div class="homepage">
        <h1>💻 Hello 🖥️</h1>
        <h3>Welcome to the System Showcase. Here you can show off your computer and check out what kind of computer rigs your friends here have too!</h3>
      </div>
    </body>
    {% if not user.is_authenticated %}
      <section>
        <form action="{% url 'home' %}" method="post" class="login">
          <h1>Login</h1>
          {% csrf_token %} {{ form.as_p }}
          <input type="hidden" name="next" value="{{ next }}" />
          <button type="submit" class="btn submit">Login</button>
        </form>
      </section>
    {% endif %}
</html>
