<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://em-content.zobj.net/source/microsoft/379/desktop-computer_1f5a5-fe0f.png" rel="icon">
        <title>System Showcase</title>
    </head>
    <body>
        <h1>💻 Hello 🖥️</h1>
        <nav>
            <ul>
              <li><a href="{% url 'community' %}">Community</a></li>
              <li><a href="{% url 'computer-create' %}">Add a computer</a></li>
            </ul>
          </nav>
        <h3>Welcome to the System Showcase. Here you can show off your computer and check out what kind of computer rigs your friends here have too!</h3>
    </body>
</html>
