.computer-container {
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .computer-img {
    width: 75%;
    max-width: 350px;
  }
  
  .usr-img {
    width: 100%;
    border-radius: var(--card-border-radius);
  }
  
  .computer-parts {
    width: 45%;
  }
  
  .computer-actions {
    margin-top: 20px;
  }
  
  .computer-peripherals-btn {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
  }

  .computer-comments {
    padding: 15px 25px;
  }

  .comment-container {
    height: 70px;
    display: flex;

  }
  
  h1 {
    font-size: var(--font-xxl);
    margin: 15px 0 3px;
  }
  
  h2 {
    font-size: var(--font-xl);
    margin: 5px 0;
  }
  
  h3 {
    margin: 5px 0;
    font-size: var(--font-l);
  }
  
  p {
    font-size: var(--font-reg);
    margin: 5px 0;
  }

  .comment-author {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    padding-right: 10px;
  }

  .comment-text {
    display: flex;
    align-items: center;
  }

  .comment-author h3 {
    font-size: var(--font-xl);
  }

  .comment-time {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .comment-time h6 {
    margin: 5px 0;
    padding: 0;
    line-height: 1rem;
    font-size: 1.3rem;
  }

  .comment-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }

  .comment-actions a {
    font-size: 1.3rem;
    padding: 2px;
  }

  .comment-actions button {
    font-size: 1.3rem;
    padding: 2px;
  }
  
  @media only screen and (min-width: 768px) {
    .computer-container {
      padding: 35px 30px;
      flex-direction: row;
      align-items: center;
      justify-content: start;
    }
  
    .computer-img {
      width: 25%;
      max-width: 250px;
      margin-right: 25px;
    }
  }
  
  