{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/computers/computer-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="cat-container">
  <div class="cat-img">
    <img src="{% static 'images/sk8r-boi-cat.svg' %}" alt="A skater boy cat" />
  </div>
  <div class="cat-details">
    <h1>{{ computer.name }}</h1>
    <h3>
        Computer type: {{ computer.comptype }}</br>
        CPU: {{ computer.cpu }}</br>
        GPU: {{ computer.gpu }}</br>
        RAM: {{ computer.ram }}</br>
    </h3>
    <div class="cat-actions">
      <a href="{% url 'computer-update' computer.id %}" class="btn warn">Edit</a>
      <a href="{% url 'computer-delete' computer.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<section class="computer-comments">
  <a href="{% url 'comment-create' computer.id %}"><h1>Add a Comment!</h1></a>
  {% for comment in comments %}
    <div class="comment-container">
      <div class="comment-author">
        <h3>Author: {{ comment.author }}</h3>
      </div>
      <div class="comment-time">
        <h6>Posted on: {{ comment.timestamp }}</h6>
      </div>
      <div class="comment-text">
        <h4>{{ comment.text }}</h4>
      </div>
      <div class="comment-actions">
        <a href="{% url 'comment-update' computer_id=computer.id comment_id=comment.id %}" class="btn">Update</a>
        <form action="{% url 'comment-delete' computer.id comment.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn danger">Delete Comment</button>
        </form>
      </div>
    </div>
  {% empty %}
    <p>No comments yet.</p>
  {% endfor %}    
</section>

{% endblock %}
