{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/computers/computer-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="computer-container">
  <div class="computer-parts">
    <div class="computer-img">
      <img src="{% static 'images/sk8r-boi-cat.svg' %}" alt="A skater boy cat" />
    </div>
    <div class="computer-details">
      <h1>{{ computer.name }}</h1>
      <ul>
            <li><h3>Computer type: {{ computer.get_comptype_display }}</h3></li>
            <li><h3>CPU: {{ computer.cpu }}</h3></li>
            <li><h3>GPU: {{ computer.gpu }}</h3></li>
            <li><h3>RAM: {{ computer.ram }}</h3></li>
      </ul>
      {% if user.id == computer.owner.id %}
        <div class="computer-actions">
          <a href="{% url 'computer-update' computer.id %}" class="btn warn">Edit</a>
          <a href="{% url 'computer-delete' computer.id %}" class="btn danger">Delete</a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="computer-peripherals">
    <h1>Peripherals</h1>
      {% for peripheral in peripherals %}
        <ul>  
          {% if peripheral.keyboard %}
            <li><h3>Keyboard: {{ peripheral.keyboard }}</h3></li>
          {% endif %}
          {% if peripheral.mouse %}
            <li><h3>Mouse: {{ peripheral.mouse }}</h3></li>
          {% endif %}
          {% if peripheral.monitor1 %}
            <li><h3>First Monitor: {{ peripheral.monitor1 }}</h3></li>
          {% endif %}
          {% if peripheral.monitor2 %}
            <li><h3>Second Monitor: {{ peripheral.monitor2 }}</h3></li>
          {% endif %}
          {% if peripheral.monitor3 %}
            <li><h3>Third Monitor: {{ peripheral.monitor3 }}</h3></li>
          {% endif %}
        </ul>
      {% empty %}
        <h1>No peripherals found.</h1>
      {% endfor %}
    {% if user.id == computer.owner.id %}
      {% if peripherals.exists %}
        <div class="computer-peripherals-btn">
          <a href="{% url 'computer-peripherals-update' computer.id %}" class="btn submit">Edit Peripherals</a>
          <a href="{% url 'computer-peripherals-delete' computer.id %}" class="btn danger">Delete</a>
        </div>
      {% else %}
      <div class="computer-peripherals-btn">
        <a href="{% url 'computer-peripherals' computer.id %}" class="btn submit">Add Peripherals</a>
      </div>
      {% endif %}
    {% endif %}
  </div>
</section>
<section class="computer-comments">
  <a href="{% url 'comment-create' computer.id %}" class="btn submit">Add a Comment!</a>
  {% for comment in comments %}
    <div class="comment-container">
      <div class="comment-author">
        <h3>{{ comment.author }}:</h3>
      </div>
      <div class="comment-text">
        <h2>{{ comment.text }}</h2>
      </div>
      {% if user.id == comment.author.id %}
        <div class="comment-actions">
          <a href="{% url 'comment-update' computer_id=computer.id comment_id=comment.id %}" class="btn">Edit</a>
          <form action="{% url 'comment-delete' computer.id comment.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn danger">Delete</button>
          </form>
        </div>
      {% endif %}
    </div>
  {% empty %}
    <h3>No comments yet.</h3>
  {% endfor %}    
</section>

{% endblock %}
